@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  font-family: "Montserrat", serif;
}

.orange-color {
  background: #fe390c;
  color: #fff;
}

.text-orange {
  color: #fe390c;
}

.social {
  display: flex;
}

.header-fixed {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 23px 0 25px;
  background: transparent;
  transition: 0.4s linear;
}
.header-fixed.active {
  background: #111214;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 54px;
}
.header .logo {
  width: 40px;
}
.header .link {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  color: #a9a9aa;
  transition: 0.3s linear;
}
.header .link:hover {
  color: #fe390c;
}
.header-btn {
  border: 1px solid #fe390c;
  border-radius: 4px;
  padding: 12px 16px;
  width: 92px;
  height: 39px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  color: #fe390c;
}

.home {
  padding: 308px 0px 255px;
  background: url(../images/Background.jpg) no-repeat center;
  background-size: cover;
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.home-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.04em;
}
.home-subtitle span {
  color: #fff;
}
.home-title {
  font-size: 130px;
  font-weight: 400;
  line-height: 1.18;
  font-family: "Anton", serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  margin: 10px 0px 12px;
}
.home-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 24px;
}
.home-link {
  border-radius: 4px;
  padding: 16px 24px;
  display: block;
  width: 106px;
  height: 47px;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
}
.home-social {
  flex-direction: column;
  gap: 32px;
}

.about {
  padding: 90px 0px 85px;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 65px;
}
.about-img-content {
  max-width: 521px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
.about .img-content {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about .img-content:nth-child(even) {
  flex-direction: column-reverse;
  align-items: flex-start;
}
.about .img-content .descript {
  padding: 31px 0px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.about .img-content .descript-rew {
  padding: 31px 0px;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: row-reverse;
}
.about .img-content .descript-rew .title {
  text-align: left;
}
.about .img-content .title {
  width: 74px;
  text-align: right;
}
.about .img-content .num {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  font-family: "Anton", serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.about .img-content .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  font-family: "Montserrat", serif;
  letter-spacing: -0.04em;
  color: #111214;
}
.about-content {
  max-width: 521px;
}
.about .inner-block {
  display: flex;
  align-items: center;
  gap: 24px;
}
.about-num {
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
  font-family: "Anton", serif;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.about-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  font-family: "Anton", serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #111214;
}
.about .about-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.29;
  font-family: "Montserrat", serif;
  letter-spacing: -0.02em;
  color: #a9a9aa;
  padding-top: 28px;
  padding-left: 91px;
}/*# sourceMappingURL=main.css.map */