$primary-color-black: #111214;
$primary-color-main-color: #fe390c;
$secondary-color-grey-100: #a7aab4;
$secondary-color-grey-10: #f7f7f7;
$text-color-black: #111214;
$text-color-grey: #a9a9aa;
$ui-color-primary: #6750a3;