.footer {
    background: #0c0c0e;
    padding: 30px 0px;

    p {
        @include fontPrimary(14px,600,1.43);
        letter-spacing: -0.04em;
        text-align: center;
        color: $text-color-grey;

        span{
            color: #fff;
        }
    }

}