.header {
    &-fixed {
        position: fixed;
        z-index: 30;
        top: 0;
        left: 0;
        right: 0;
        padding: 23px 0 25px;
        background: transparent;
        transition: .4s linear;

        &.active{
            background: $primary-color-black;
        }
    }

    .container {
        display: flex;
        align-items: center;
    }

    .nav {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex: 1;
        gap: 54px;

    }

    .logo {
        width: 40px;
    }

    .link {
        @include fontPrimary(12px, 600);
        text-transform: uppercase;
        color: $text-color-grey;
        transition: .3s linear;

        &:hover{
        color: $primary-color-main-color;
        }
    }

    &-btn {
        border: 1px solid $primary-color-main-color;
        border-radius: 4px;
        padding: 12px 16px;
        width: 92px;
        height: 39px;
        @include fontPrimary(12px, 600);
        text-transform: uppercase;
        color: $primary-color-main-color;
    }
}