.header {
    &-fixed {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        background: rgb(64, 53, 53);
    }

    .container {
        display: flex;
        align-items: center;
    }

    .nav {
        background: red;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        background: yellow;
        display: flex;
        justify-content: center;
        flex: 1;
    }
}