.home {
    padding: 308px 0px 255px;
    background: url(../images/Background.jpg) no-repeat center;
    background-size: cover;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }


    &-subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: -0.04em;

        span {
            color: #fff;
        }
    }

    &-title {
        @include fontSecondary(130px, 400, 1.18);
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #fff;
        margin: 10px 0px 12px;
    }

    &-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: -0.04em;
        color: #fff;
        margin-bottom: 24px;
    }

    &-link {
        border-radius: 4px;
        padding: 16px 24px;
        display: block;
        width: 106px;
        height: 47px;
        font-weight: 600;
        font-size: 12px;
        text-transform: capitalize;
    }

    &-social {
        flex-direction: column;
        gap: 32px;
    }
}