.work {
    padding: 88px 0px 195px;
    background: $secondary-color-grey-10;

    &-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }

    &-content-wrapper{
        background: url(../images/Bg.jpg)no-repeat center;
        padding: 73px 0px 80px;
        margin-top: -115px;
    }

    &-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        @include fontSecondary(40px, 400);
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #fff;
    }

    &-btn {
        @include fontPrimary(12px, 600);
        text-transform: capitalize;
        border-radius: 4px;
        padding: 16px 24px;
        width: 138px;
        height: 47px;
        margin: 32px 0px 20px
    }

    &-link {
        @include fontPrimary(14px, 600, 1.43);
        letter-spacing: -0.04em;
        color: $text-color-grey;
        display: flex;
        align-items: center;
        gap: 8px;

        &::before {
            content: url(../images/download.svg);
        }
    }
}